* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-home-page {
}

.container-btn-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 100%;
  height: 100vh;
}
