@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background: grey;
  padding-top: 30px;
  height: auto;
  color: #ddc1b7;
}

a {
  text-decoration: none;
}

.paragraphe {
  display: flex;
  justify-content: flex-start;
}
#imageAuberge {
  width: 90%;
  height: 60%;
}

.name {
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
}
