.products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 300px;
    height: 400px;
    border: 1px solid white;
    background-color: white(0, 0, 0, 0.7);
    border-radius: 10px;
}

.btn-card{
    width:60%;
    height:40px ;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-color: transparent;

}
.btn-confirmation{
    width:178px;
    height:30px ;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-color: transparent;
}
.btn-card:hover{
    cursor: pointer;
    background-color: black;
}
